.keys {
  position: relative;
  top: 100px;
  text-align: center;
}

.key {
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
}

.playing {
  border: 2px solid red;
}

.sound {
  display: block;
}